body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 237px -373.66667px #ff0015, 112px -315.66667px #11ff00, 59px -195.66667px #00aeff, -112px -77.66667px #e600ff, 140px -278.66667px #00fff7, 31px -295.66667px #ff5500, 221px -244.66667px magenta, -224px -241.66667px #b3ff00, 27px -277.66667px #ff0066, -3px -61.66667px #e100ff, -6px -72.66667px #6f00ff, 249px 19.33333px #00eaff, -71px -193.66667px darkorange, -228px -30.66667px #a600ff, 153px -197.66667px #ff0080, 26px -256.66667px #b3ff00, -202px -228.66667px #ff0055, -211px -114.66667px #ff9500, 126px -45.66667px #11ff00, -78px -175.66667px #00ff1a, -164px -15.66667px #2bff00, 31px -160.66667px #ffaa00, 210px -113.66667px #00ff3c, 145px -80.66667px #00ffe1, 124px -164.66667px #1500ff, -168px -325.66667px #ff0037, 218px -289.66667px #ff0066, 217px -36.66667px #ff0033, 55px -311.66667px #00ff99, -27px -369.66667px #8400ff, -13px -318.66667px #59ff00, 99px -359.66667px #99ff00, -72px 70.33333px #0055ff, 99px -268.66667px #00ff33, -58px -391.66667px #0400ff, -89px 25.33333px #0048ff, -26px -65.66667px #ff0d00, -186px 4.33333px #00ffbb, 20px -261.66667px #ff0400, -212px -297.66667px #8800ff, -47px -41.66667px #00ff1e, 12px -221.66667px #f2ff00, -71px -400.66667px #5100ff, -70px -52.66667px #3700ff, -22px 4.33333px #8800ff, 178px -353.66667px #ffd000, -127px -186.66667px #5eff00, 64px -49.66667px #99ff00, 96px -253.66667px #00ff4d, 150px -74.66667px #ae00ff, 33px -339.66667px #ff0400;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 237px -373.66667px #ff0015, 112px -315.66667px #11ff00, 59px -195.66667px #00aeff, -112px -77.66667px #e600ff, 140px -278.66667px #00fff7, 31px -295.66667px #ff5500, 221px -244.66667px magenta, -224px -241.66667px #b3ff00, 27px -277.66667px #ff0066, -3px -61.66667px #e100ff, -6px -72.66667px #6f00ff, 249px 19.33333px #00eaff, -71px -193.66667px darkorange, -228px -30.66667px #a600ff, 153px -197.66667px #ff0080, 26px -256.66667px #b3ff00, -202px -228.66667px #ff0055, -211px -114.66667px #ff9500, 126px -45.66667px #11ff00, -78px -175.66667px #00ff1a, -164px -15.66667px #2bff00, 31px -160.66667px #ffaa00, 210px -113.66667px #00ff3c, 145px -80.66667px #00ffe1, 124px -164.66667px #1500ff, -168px -325.66667px #ff0037, 218px -289.66667px #ff0066, 217px -36.66667px #ff0033, 55px -311.66667px #00ff99, -27px -369.66667px #8400ff, -13px -318.66667px #59ff00, 99px -359.66667px #99ff00, -72px 70.33333px #0055ff, 99px -268.66667px #00ff33, -58px -391.66667px #0400ff, -89px 25.33333px #0048ff, -26px -65.66667px #ff0d00, -186px 4.33333px #00ffbb, 20px -261.66667px #ff0400, -212px -297.66667px #8800ff, -47px -41.66667px #00ff1e, 12px -221.66667px #f2ff00, -71px -400.66667px #5100ff, -70px -52.66667px #3700ff, -22px 4.33333px #8800ff, 178px -353.66667px #ffd000, -127px -186.66667px #5eff00, 64px -49.66667px #99ff00, 96px -253.66667px #00ff4d, 150px -74.66667px #ae00ff, 33px -339.66667px #ff0400;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 237px -373.66667px #ff0015, 112px -315.66667px #11ff00, 59px -195.66667px #00aeff, -112px -77.66667px #e600ff, 140px -278.66667px #00fff7, 31px -295.66667px #ff5500, 221px -244.66667px magenta, -224px -241.66667px #b3ff00, 27px -277.66667px #ff0066, -3px -61.66667px #e100ff, -6px -72.66667px #6f00ff, 249px 19.33333px #00eaff, -71px -193.66667px darkorange, -228px -30.66667px #a600ff, 153px -197.66667px #ff0080, 26px -256.66667px #b3ff00, -202px -228.66667px #ff0055, -211px -114.66667px #ff9500, 126px -45.66667px #11ff00, -78px -175.66667px #00ff1a, -164px -15.66667px #2bff00, 31px -160.66667px #ffaa00, 210px -113.66667px #00ff3c, 145px -80.66667px #00ffe1, 124px -164.66667px #1500ff, -168px -325.66667px #ff0037, 218px -289.66667px #ff0066, 217px -36.66667px #ff0033, 55px -311.66667px #00ff99, -27px -369.66667px #8400ff, -13px -318.66667px #59ff00, 99px -359.66667px #99ff00, -72px 70.33333px #0055ff, 99px -268.66667px #00ff33, -58px -391.66667px #0400ff, -89px 25.33333px #0048ff, -26px -65.66667px #ff0d00, -186px 4.33333px #00ffbb, 20px -261.66667px #ff0400, -212px -297.66667px #8800ff, -47px -41.66667px #00ff1e, 12px -221.66667px #f2ff00, -71px -400.66667px #5100ff, -70px -52.66667px #3700ff, -22px 4.33333px #8800ff, 178px -353.66667px #ffd000, -127px -186.66667px #5eff00, 64px -49.66667px #99ff00, 96px -253.66667px #00ff4d, 150px -74.66667px #ae00ff, 33px -339.66667px #ff0400;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 237px -373.66667px #ff0015, 112px -315.66667px #11ff00, 59px -195.66667px #00aeff, -112px -77.66667px #e600ff, 140px -278.66667px #00fff7, 31px -295.66667px #ff5500, 221px -244.66667px magenta, -224px -241.66667px #b3ff00, 27px -277.66667px #ff0066, -3px -61.66667px #e100ff, -6px -72.66667px #6f00ff, 249px 19.33333px #00eaff, -71px -193.66667px darkorange, -228px -30.66667px #a600ff, 153px -197.66667px #ff0080, 26px -256.66667px #b3ff00, -202px -228.66667px #ff0055, -211px -114.66667px #ff9500, 126px -45.66667px #11ff00, -78px -175.66667px #00ff1a, -164px -15.66667px #2bff00, 31px -160.66667px #ffaa00, 210px -113.66667px #00ff3c, 145px -80.66667px #00ffe1, 124px -164.66667px #1500ff, -168px -325.66667px #ff0037, 218px -289.66667px #ff0066, 217px -36.66667px #ff0033, 55px -311.66667px #00ff99, -27px -369.66667px #8400ff, -13px -318.66667px #59ff00, 99px -359.66667px #99ff00, -72px 70.33333px #0055ff, 99px -268.66667px #00ff33, -58px -391.66667px #0400ff, -89px 25.33333px #0048ff, -26px -65.66667px #ff0d00, -186px 4.33333px #00ffbb, 20px -261.66667px #ff0400, -212px -297.66667px #8800ff, -47px -41.66667px #00ff1e, 12px -221.66667px #f2ff00, -71px -400.66667px #5100ff, -70px -52.66667px #3700ff, -22px 4.33333px #8800ff, 178px -353.66667px #ffd000, -127px -186.66667px #5eff00, 64px -49.66667px #99ff00, 96px -253.66667px #00ff4d, 150px -74.66667px #ae00ff, 33px -339.66667px #ff0400;
  }
}
@keyframes bang {
  to {
    box-shadow: 237px -373.66667px #ff0015, 112px -315.66667px #11ff00, 59px -195.66667px #00aeff, -112px -77.66667px #e600ff, 140px -278.66667px #00fff7, 31px -295.66667px #ff5500, 221px -244.66667px magenta, -224px -241.66667px #b3ff00, 27px -277.66667px #ff0066, -3px -61.66667px #e100ff, -6px -72.66667px #6f00ff, 249px 19.33333px #00eaff, -71px -193.66667px darkorange, -228px -30.66667px #a600ff, 153px -197.66667px #ff0080, 26px -256.66667px #b3ff00, -202px -228.66667px #ff0055, -211px -114.66667px #ff9500, 126px -45.66667px #11ff00, -78px -175.66667px #00ff1a, -164px -15.66667px #2bff00, 31px -160.66667px #ffaa00, 210px -113.66667px #00ff3c, 145px -80.66667px #00ffe1, 124px -164.66667px #1500ff, -168px -325.66667px #ff0037, 218px -289.66667px #ff0066, 217px -36.66667px #ff0033, 55px -311.66667px #00ff99, -27px -369.66667px #8400ff, -13px -318.66667px #59ff00, 99px -359.66667px #99ff00, -72px 70.33333px #0055ff, 99px -268.66667px #00ff33, -58px -391.66667px #0400ff, -89px 25.33333px #0048ff, -26px -65.66667px #ff0d00, -186px 4.33333px #00ffbb, 20px -261.66667px #ff0400, -212px -297.66667px #8800ff, -47px -41.66667px #00ff1e, 12px -221.66667px #f2ff00, -71px -400.66667px #5100ff, -70px -52.66667px #3700ff, -22px 4.33333px #8800ff, 178px -353.66667px #ffd000, -127px -186.66667px #5eff00, 64px -49.66667px #99ff00, 96px -253.66667px #00ff4d, 150px -74.66667px #ae00ff, 33px -339.66667px #ff0400;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

	body {
  background: #f5f5f5;
  overflow: hidden;
}
.dice-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.dice-wrapper2 {
  position: absolute;
  top: 65%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.cubic, .cubic1 {
  margin: 1em;
  width: 50px;
  height: 50px;
  -webkit-transform: rotateY(-10deg) rotateX(-10deg);
          transform: rotateY(-10deg) rotateX(-10deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.cubic> div, .cubic1 > div {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Dice.png");
  background-size: 170px;
  box-sizing: border-box;
}
.cubic> div::before, .cubic1 > div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  opacity: 0.2;
}
.top {
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
  background-position: -5px -62px;
}
.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
          transform: rotateX(-90deg) translateZ(25px);
  background-position: -289px -5px;
}
.front {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  background-position: -5px -5px;
}
.right {
  -webkit-transform: rotateY(90deg) translateZ(25px);
          transform: rotateY(90deg) translateZ(25px);
  background-position: -232px -5px;
}
.back {
  -webkit-transform: rotateY(180deg) translateZ(25px);
          transform: rotateY(180deg) translateZ(25px);
  background-position: -289px -62px;
}
.left {
  -webkit-transform: rotateY(270deg) translateZ(25px);
          transform: rotateY(270deg) translateZ(25px);
  background-position: -232px -62px;
}
#ctrl {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
#score1 {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 25px;
  text-align: center;
}
#score2 {
  position: absolute;
  top: 75%;
  width: 100%;
  font-size: 25px;
  text-align: center;
}
#history {
  position: absolute;
  top: 5%;
  width: 100%;
   font-size: 25px;
  text-align: center;
}
#roll {
  display: inline-block;
  padding: 1em 3em;
  margin-right: 1em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  outline: none;
}
label {
  display: block;
  margin-top: 1em;
}
	
	/*MODAL*/
	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 12px;
     font-size: 25px;
  text-align: center;
}
